.home {
  padding: 0 5%;
}
.navbar {
  text-align: center;
  display: flex;
  width: 100%;
  justify-content: space-between;
}
h1 {
  display: flex;
  align-items: center;
  font-size: 48px;
  text-decoration: none;
}
nav {
  display: flex;
  justify-content: space-evenly;
  width: 30%;
}
a {
  text-decoration: none;
  margin: 20px;
  padding: 20px;
  width: 100%;
  border: 10px;
  border-radius: 5px;
  text-align: center;
  font-size: 40px;
}
